*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// ------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$bgColor: #272727;
$fColor: #fff;
@mixin toCenter() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin font(){
    color: $fColor;
    font-size: 300px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}
// -------------------------------------------------------------------------
body{
    @include font();
    .container{
        @include toCenter();
        height: 100vh;
        width: 100vw;
        background-color: black;
        .clock-contain{
            @include toCenter();
            .second{
                color: grey;
            }
        }
        .color{
            position: absolute;
            height: 200px;
            width: 100%;
            bottom: 0px;
            background-image: linear-gradient(to bottom,#000 20%,#fff);
        }
    }
}

@media screen and (max-width: 500px){
    body{
        .container{
            font-size: 120px;
            .clock-contain{
                top: 40%;
                .sept{
                    display: none;
                }
                .clock:nth-last-of-type(3), .clock:nth-last-of-type(5){
                    display: block;
                }
            }
            .color{
                height: 100px;
            }
        }
    } 
}